<!-- @if (authService.user$ | async ; as currentUser){ -->
<div class="container py-4">
    @if(profileDetails){
    <div class="bg-white rounded shadow-sm p-4 mb-4">
        <div class="d-flex align-items-center justify-content-between gap-3">
            <div class="d-flex align-items-center gap-3">
                <div class="position-relative">
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        {{profileDetails.role}}
                    </span>
                    @if (profileDetails.avatar) {
                    <img [src]="url+profileDetails.avatar"
                        class="profile-avatar">
                    }@else {
                    <div class="avatar-user">
                        {{profileDetails.userName.at(0)?.toLocaleUpperCase()}}
                    </div>
                    }
                </div>
                <div>
                    <h3 class="fw-bold m-0">{{
                        profileDetails.firstName+" "+profileDetails.lasteName
                        }}</h3>
                    <span
                        class="text-secondary">@{{profileDetails.userName}}</span>
                </div>
            </div>
            <div class="d-flex gap-3">
                @if (profileDetails.personelProfile) {
                <div class="ms-auto d-flex gap-3">
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="showEditeComponent.set(true)">Edit
                        Profile</button>
                </div>
                @if (showEditeComponent()) {
                <app-edit-profile-modal
                    [profile]="profileDetails"
                    (hide)="hidEditComponent()">
                </app-edit-profile-modal>
                }
                }@else {
                @if (!profileDetails.reacted) {
                <div class="ms-auto d-flex gap-3">
                    <button class="btn btn-primary btn-sm"
                        (click)="followRequest()">Follow</button>
                </div>
                }@else {
                <div class="ms-auto d-flex gap-3">
                    <button class="btn btn-outline-danger btn-sm"
                        (click)="showConfermation.set(true)">Ufollow</button>
                </div>

                }
                @if (profileDetails.reported) {
                <div class="ms-auto d-flex gap-3">
                    <button
                        class="btn btn-outline-success btn-sm"
                        disabled>Reported✅</button>
                </div>
                }@else {
                <div class="ms-auto d-flex gap-3">
                    <button class="btn btn-success btn-sm"
                        (click)="report(true)">Report</button>
                </div>
                }
                }
                @if (showReport()) {
                <app-report [id]="profileDetails.id"
                    (hide)="report(false)"></app-report>
                }
            </div>
            @if(showConfermation()){
            <app-confermation
                message="Do you want to unfollow this user?"
                (react)="unfollow($event)"></app-confermation>
            }
        </div>
        @if (!utils.isBlank(profileDetails.bio??'')) {
        <div class="bio-box">
            <i class="bi bi-feather text-secondary"></i>
            <small class="bio-text">{{ profileDetails.bio }}</small>
        </div>
        }

    </div>

    <div class="row">

        <!-- LEFT SIDEBAR -->
        <div class="col-md-4">
            <div class="bg-white rounded shadow-sm p-3">
                <h5 class="fw-bold mb-3">About</h5>

                <p class="mb-1">
                    <i class="bi bi-person-fill me-2"></i>
                    {{profileDetails.gender}}
                </p>
                <p class="mb-1">
                    <i class="bi bi-calendar-event-fill me-2"></i>
                    {{profileDetails.birthday}}
                </p>

                <p class="mb-1" style="word-break: break-all;">
                    <i
                        class="bi bi-envelope-fill me-2"></i>{{profileDetails.email}}
                </p>

            </div>
        </div>

        <!-- CENTER CONTENT -->
        <div class="col-md-8">
            <div
                class="d-flex justify-content-around bg-white rounded shadow-sm p-3 mb-3 tabs">

                <div
                    class="tab-item"
                    [class.active]="showPostes"
                    (click)="togglePosts()">
                    <span class="count">Posts</span>
                    <span class="label">{{ profileDetails.postes }}</span>
                </div>

                <div
                    class="tab-item"
                    [class.active]="selectedFollowers"
                    (click)="toggleFollowers()">
                    <span class="count">Followers</span>
                    <span class="label">{{ profileDetails.followers }}</span>
                </div>

                <div
                    class="tab-item"
                    [class.active]="selectedFollowing"
                    (click)="toggleFollowing()">
                    <span class="count">Following</span>
                    <span class="label">
                        {{profileDetails.following}}</span>
                </div>

            </div>

            <!-- Posts -->
            @if (showPostes) {
            <div class="bg-white rounded shadow-sm ">
                <app-poste-component [showReaction]="false"
                    [postesData]="postes()!"></app-poste-component>
            </div>
            }

            <!-- Followers / Following -->
            @else {
            <div class="bg-white rounded shadow-sm p-4 text-center">
                <!-- @if (selectedFollowers) {
                <app-list-users-component
                    [users]="subscribed"></app-list-users-component>
                } -->

                <!-- @else if (selectedFollowing) {
                <app-list-users-component
                    [users]="subscriber"></app-list-users-component>
                } -->
            </div>
            }

        </div>

    </div>
    }
</div>
