/* Cover Photo */
.cover-photo {
    height: 220px;
    background: url('/cover.jpg') center/cover no-repeat;
}

/* Avatar */
.profile-avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #fff;
}

/* Sidebar avatar */
.side-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Tabs */
.tabs {
    text-align: center;
}

.tab-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    /* border-radius: 8px; */
    transition: background 0.2s ease;
}

.tab-item .count {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.tab-item .label {
    font-size: 13px;
    color: #6c757d;
}

.tab-item.active {

    border-bottom: 4px solid #4548f7;

}

.tab-item:hover {
    background-color: #f8f9fa;
    /* border-bottom: 4px solid #aeaff4; */
}

.pp {
    width: 100%;
}



.bio-text {
    padding: 10px
}

.avatar-user {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}