<!-- @if (authService.user$ | async ; as currentUser){ -->
<div class="container py-4">

    <div class="bg-white rounded shadow-sm p-4 mb-4">
        <div class="d-flex align-items-center gap-3">
            <img [src]="profileDetails.avatar" class="profile-avatar">
            <div>
                <h3 class="fw-bold m-0">{{
                    profileDetails.firstName+" "+profileDetails.lastName }}</h3>
                <span class="text-secondary">@{{profileDetails.username}}</span>
            </div>
            @if (profileDetails.id!=="currentUser.id") {
            <div class="ms-auto d-flex gap-3">
                <button class="btn btn-outline-primary btn-sm"
                    (click)="showEditeComponent.set(true)">Edit Profile</button>
            </div>
            @if (showEditeComponent()) {
            <app-edit-profile-modal
                [profile]="profileDetails"
                (hide)="hidEditComponent()">
            </app-edit-profile-modal>
            }
            }@else {
            @if (!profileDetails.isFollowing) {
            <div class="ms-auto d-flex gap-3">
                <button class="btn btn-primary btn-sm"
                    (click)="followRequest()">Follow</button>
            </div>
            }@else {
            <div class="ms-auto d-flex gap-3">
                <button class="btn btn-outline-danger btn-sm"
                    (click)="showConfermation.set(true)">Ufollow</button>
            </div>

            }
            }
            @if(showConfermation()){
            <app-confermation
                message="Do you want to unfollow this user?"
                (react)="unfollow($event)"></app-confermation>
            }
        </div>
        <div class="bio-box">
            <i class="bi bi-feather text-secondary"></i>
            <small class="bio-text">{{ profileDetails.bio }}</small>
        </div>

    </div>

    <div class="row">

        <!-- LEFT SIDEBAR -->
        <div class="col-md-4">
            <div class="bg-white rounded shadow-sm p-3">
                <h5 class="fw-bold mb-3">About</h5>

                <p class="mb-1">
                    <i class="bi bi-person-fill me-2"></i>
                    {{profileDetails.gander}}
                </p>
                <p class="mb-1">
                    <i class="bi bi-calendar-event-fill me-2"></i>
                    {{profileDetails.age}}
                </p>

                <p class="mb-1" style="word-break: break-all;">
                    <i
                        class="bi bi-envelope-fill me-2"></i>{{profileDetails.email}}
                </p>

            </div>
        </div>

        <!-- CENTER CONTENT -->
        <div class="col-md-8">
            <div
                class="d-flex justify-content-around bg-white rounded shadow-sm p-3 mb-3 tabs">

                <div
                    class="tab-item"
                    [class.active]="showPostes"
                    (click)="togglePosts()">
                    <span class="count">Posts</span>
                    <span class="label">{{ profileDetails.totalPoste }}</span>
                </div>

                <div
                    class="tab-item"
                    [class.active]="selectedFollowers"
                    (click)="toggleFollowers()">
                    <span class="count">Followers</span>
                    <span class="label">{{ profileDetails.totalFollow }}</span>
                </div>

                <div
                    class="tab-item"
                    [class.active]="selectedFollowing"
                    (click)="toggleFollowing()">
                    <span class="count">Following</span>
                    <span class="label">
                        {{profileDetails.totalFollowing}}</span>
                </div>

            </div>

            <!-- Posts -->
            @if (showPostes) {
            <div class="bg-white rounded shadow-sm ">
                <!-- <app-poste-component [postes]="postes"></app-poste-component> -->
            </div>
            }

            <!-- Followers / Following -->
            @else {
            <div class="bg-white rounded shadow-sm p-4 text-center">
                <!-- @if (selectedFollowers) {
                <app-list-users-component
                    [users]="subscribed"></app-list-users-component>
                } -->

                <!-- @else if (selectedFollowing) {
                <app-list-users-component
                    [users]="subscriber"></app-list-users-component>
                } -->
            </div>
            }

        </div>

    </div>

</div>
<!-- }@else {
    <app-not-resorce message="This profile not exicte" type="profile"></app-not-resorce>
} -->
