<div class="d-flex flex-column vh-100">
  <!-- @if (!isAutPage()  &&!authReady) {
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  } -->
  @if (!isAutPage() ) {
  <!-- Header -->
  <header class="header-custom">
    <div class="container-fluid px-3">
      <div class="row align-items-center">
        <!-- Logo Section -->
        <div
          class="col-3 d-flex align-items-center justify-content-start gap-2">
          <div class="badge-number">
            <span class="badge-text text-primary">01</span>
          </div>
          <div class="brand-name">Blog</div>
        </div>

        <!-- Notification Section -->
        <div class="col-7 text-end">
          <div class="dropdown d-inline-block">
            <button type="button" class="btn-notification"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-bell"></i>
              <!-- Notification Badge (Show when there are notifications) -->
              <span class="notification-badge"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end notification-dropdown">
              <li><a class="dropdown-item" href="#">New message
                  received</a></li>
              <li><a class="dropdown-item" href="#">Your post was liked</a></li>
              <li><a class="dropdown-item" href="#">New follower</a></li>
            </ul>
          </div>
        </div>

        <!-- User Actions Section -->
        <div class="col-2 d-flex justify-content-around">
          @if (false) {
          <img src="/d.jpg" alt="User Avatar"
            class="btn-user" width="50" height="50">
          }@else {
          <button type="button" class="btn-user">U</button>
          }
          <button type="button" class="btn btn-danger btn-logout"
            (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
  }
  <!-- Scrollable main content -->
  <main class="flex-grow-1 mt-7"
    style="padding-top: 70px; padding-bottom: 70px; overflow: hidden;">
    <app-error-pop-component></app-error-pop-component>

    <router-outlet></router-outlet>
  </main>

  <!-- Navbar -->
  @if (!isAutPage() ) {
  <nav
    class="nav position-fixed bottom-0 d-flex justify-content-around w-100 bg-light py-2 border-top shadow-lg"
    style="z-index: 10;">
    <a routerLink="/" class="nav-link d-flex flex-column align-items-center"
      routerLinkActive="active">
      <i class="bi bi-house-door fs-4"></i>
      <span class="fw-medium fst-normal">Feed</span>
    </a>
    <a routerLink="/discover"
      class="nav-link d-flex flex-column align-items-center"
      routerLinkActive="active">
      <i class="bi bi-people fs-4"></i>
      <span class="fw-medium fst-normal">Discover</span>
    </a>
    <a routerLink="/profile"
      class="nav-link d-flex flex-column align-items-center"
      routerLinkActive="active">
      <i class="bi bi-person fs-4"></i>
      <span class="fw-medium fst-normal">Profile</span>
    </a>
    <a routerLink="/admin-panel"
      class="nav-link d-flex flex-column align-items-center"
      routerLinkActive="active">
      <i class="bi bi-shield fs-4"></i>
      <span class="fw-medium fst-normal">Admin</span>
    </a>
  </nav>
  }
</div>
