.bi.active {
  color: #4b93ff !important; /* اللون ديال Bootstrap Primary */
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.bi.clicked {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}