a {
    color: rgb(114, 114, 114);
    cursor: pointer;

}

.nav-link.active i {
    color: #0d6efd;
    /* aw style li bghiti */
}

.nav-link.active span {
    font-weight: 600;
    /* text bold */
}