

<!-- Button to trigger modal -->
@if (!postes || postes.length<1){
<div class="d-flex justify-content-center align-items-center"
    style="height: 200px; border: 1px dashed #ccc;">
    <div class="text-center">
        <div class="mb-2">
            <i class="bi bi-camera fs-1 text-muted"></i>
        </div>
        <p class="text-muted mb-0">No Posts Yet</p>
    </div>
</div>

}
<div
    style="overflow-y: auto; max-height:100%;">
    @for (post of postes; track post.id) {
    <div class="d-flex justify-content-center my-4 row ">
        <div class="card post-card shadow-sm col-12 col-md-10 col-lg-6">
            <!-- Card Header -->
            <app-post-template-component
                [post]="post"></app-post-template-component>
            <!-- Card Footer -->
            <div class="card-footer bg-white border-top">
                <div class="d-flex gap-1">
                    <button
                        class="btn btn-light d-flex align-items-center gap-1"
                        (click)="handelLike(post)">
                        <i
                            class="bi bi-heart-fill" appLikeDirective
                            [like]='post.liked'></i>
                        {{post.totalLike}}
                    </button>
                    <button
                        class="btn btn-light d-flex align-items-center gap-1"
                        data-bs-toggle="modal"
                        [attr.data-bs-target]="'#commentModal'+post.id">
                        <i class="bi bi-chat"></i>{{post.totalComment}}
                    </button>
                </div>
            </div>

            <!-- Comment Modal -->
            <div class="modal fade" [id]="'commentModal'+post.id" tabindex="-1"
                aria-hidden="true">
                <app-comment-component [post]="post"></app-comment-component>
            </div>
        </div>
    </div>
    }
</div>
