  .modal-dialog {
    max-width: 50% !important;
    /* margin:  !important; */
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
    .confirm-box {
      background: white;
      padding: 20px;
      border-radius: 12px;
      text-align: center;
    }