/* .post-card {
  border-radius: 15px;
  overflow: hidden;
  width: 50%;
  margin: auto;
}

.post-img {

  max-height: 450px;
  object-fit: cover;
}

.card-header img {
  border: 2px solid #eee;
}

.card-footer button {
  border-radius: 10px;
  font-weight: 500;
}

.card-footer button:hover {
  background-color: #f2f2f2;
} */

/* Styles globaux pour post card */
.post-card {
    border-radius: 12px; /* coins arrondis */
    overflow: hidden;
}

.post-card .card-header img {
    object-fit: cover;
}

.post-card .post-img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.post-card .btn-light {
    transition: all 0.2s ease-in-out;
}

.post-card .btn-light:hover {
    background-color: #f0f0f0;
}

.post-card .card-footer {
    font-size: 0.9rem;
}
