<div>
    <div
        class="card-header d-flex align-items-center justify-content-between bg-white border-0">
        <div class="d-flex align-items-center gap-2">
            <img
                [src]='post.avatar'
                alt="Profile" class="rounded-circle" width="40" height="40">
            <div>
                <h6 class="mb-0 fw-bold">{{post.authore}}</h6>
                <small class="text-muted">{{post.time}}</small>
            </div>
        </div>
        <div>
            <button class="btn btn-light" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" data-bs-toggle="modal"
                        data-bs-target="#editPostModal">Edit</a>
                </li>
                <li><a class="dropdown-item text-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deletePostModal">Delete</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal"
                        data-bs-target="#report">Report</a></li>
            </ul>
            <app-report-post-component></app-report-post-component>
            <app-delet-post-component></app-delet-post-component>
            <app-edit-post
                desc='post.descreption'
                currentMedia='kkkk'></app-edit-post>
        </div>
    </div>

    <!-- Post Body -->
    <div class="card-body p-0">
        <p class="px-3 mb-2">{{post.descreption}}</p>
        <img
            [src]='post.mediaUrl'
            alt="Post Image" class="w-100 img-fluid post-img">
    </div>
    <div class="card-footer bg-white border-top">
        <div class="d-flex gap-1 ">
            @if(isCommentDisabled){
            <p>Comment :</p>
            }@else {

            <button class="btn btn-light d-flex align-items-center gap-1"
                (click)="handelLike(post.id)">
                <i appHomeDirectives [like]='post.liked'
                    class="bi bi-heart-fill"></i> {{post.totalLike}}
            </button>

            <button class="btn btn-light d-flex align-items-center gap-1"
                data-bs-toggle="modal" data-bs-target="#commentModal"
                [disabled]="isCommentDisabled">
                <i class="bi bi-chat"></i>{{post.totalComment}}
            </button>
            }
        </div>
    </div>

    <!-- </div> -->
</div>
