@for (post of postes(); track post.id) {
<div class="card post-card shadow-sm my-3">
    <!-- Post Header -->
    <div
        class="card-header d-flex align-items-center justify-content-between bg-white border-0">
        <div class="d-flex align-items-center gap-2">
            <img
                src="/1762882197859_WhatsApp Image 2025-10-15 at 19.54.57.jpeg"
                alt="Profile" class="rounded-circle" width="40" height="40">
            <div>
                <h6 class="mb-0 fw-bold">{{post.authore}}</h6>
                <small class="text-muted">{{post.time}}</small>
            </div>
        </div>
        <div>
            <button class="btn btn-light" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item text-danger"
                        href="#">Delete</a></li>
                <li><a class="dropdown-item" href="#">Report</a></li>
            </ul>
        </div>
    </div>

    <!-- Post Body -->
    <div class="card-body p-0">
        <p class="px-3 mb-2">{{post.descreption}}</p>
        <img
            src="/p.jpg"
            alt="Post Image" class="w-100 img-fluid post-img">
    </div>

    <!-- Post Footer -->
    <div class="card-footer bg-white border-top">
        <div class="d-flex gap-1">
            <button class="btn btn-light d-flex align-items-center gap-1">
                <i  appHomeDirectives [like]='post.liked' class="bi bi-heart-fill"></i> {{post.totalLike}}
            </button>
            <button class="btn btn-light d-flex align-items-center gap-1"
                data-bs-toggle="modal" data-bs-target="#commentModal">
                <i class="bi bi-chat"></i>{{post.totalComment}}
            </button>
        </div>
    </div>
</div>
<!-- Comments Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <app-comment-component></app-comment-component>
            </div>

            <!-- Footer -->
            <div class="modal-footer d-flex">
                <input type="text" class="form-control me-2"
                    placeholder="Write a comment...">
                <button class="btn btn-primary">Send</button>
            </div>

        </div>
    </div>
</div>
}