.custom-overlay {
    position: fixed;
    inset: 0;
    /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0, 0, 0, 0.45);
    /* blur بصري */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1055;
    /* فوق navbar وكلشي */
}

.edit-profile-modal {
    background: #fff;
    border-radius: 14px;
    width: 600px;
    margin: auto;
}

/* Header */
.modal-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid #e9ecef;
}

.modal-header-custom h5 {
    margin: 0;
    font-weight: 600;
}

/* Body */
.modal-body-custom {
    padding: 20px;
    max-height: 600px;
    overflow-y: auto;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
}

/* Media */
.media-section {
    margin-top: 10px;
}

.media-preview {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.media-preview img {
    max-width: 280px;
    max-height: 280px;
    object-fit: cover;
    border-radius: 14px;
    border: 1px solid #dee2e6;
}

/* Footer */
.modal-footer-custom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 16px 20px;
    border-top: 1px solid #e9ecef;
}