<div class="container mt-4 p-3">
    <div class="input-group mb-3">
        <input #searcheInput type="text" class="form-control"
            aria-label="Text input with checkbox">
        <div class="input-group-text" (click)="searche(searcheInput.value)">
            <i class="bi bi-search"></i>
        </div>
    </div>
    <div class="user-list">
        @if(users.length<=0){
        <app-loading></app-loading>
        }@else {
        @for (user of users; track user.id ) {
        <div
            class="user-item d-flex align-items-center justify-content-between p-2">

            <div class="user-info d-flex align-items-center">
                <a [routerLink]="['/profile', user.username]"
                    class="user-link d-flex align-items-center text-decoration-none">
                    <img [src]="url+user.avatar" alt="{{ user.name }}"
                        class="avatar rounded-circle" width="40" height="40">
                    <div class="ms-2">
                        <h6 class="name mb-0">{{ user.name }}</h6>
                        <small class="stats">{{ user?.totalPoste ?? 0 }}
                            posts</small>
                    </div>
                </a>
            </div>

            <div>
                @if (user.followed) {
                <button
                    class="btn btn-sm btn-outline-danger"
                    (click)="unfollow(user)"> Remove
                </button>
                }@else{
                <button class="btn btn-sm btn-primary"
                    (click)="follow(user)"> Follow </button>
                }
            </div>

        </div>

        }

        }
        @if (showConfermation()) {
        <app-confermation
            message="Do you want to unfollow this user?"
            (react)="confermation($event)"></app-confermation>
        }

    </div>
</div>