 <div class="container py-4 w-50"
    style="max-height: calc(100vh - 140px); overflow-y: auto;">
    @for (item of [1,5,5,5,5,5,5,5,5,5,6]; track $index) {
    <div class="card mb-3 shadow-sm">
        <div class="row d-flex align-items-center gap-3 p-2">
            <div class="col-8">
                <img
                    src="/1762882197859_WhatsApp Image 2025-10-15 at 19.54.57.jpeg"
                    alt="avatar"
                    class
                    width="50" height="50" style="border-radius: 50%;">
                <div>
                    <span class="fw-semibold d-block">Yassine Jaouhary</span>
                    <span class="fw-lighter text-muted small">15 min ago</span>
                </div>
            </div>
            <div class="col-2 position-relative d-inline-block p-0 "
                style="max-width: 40px;">
                <button class="btn btn-light p-2 rounded "
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical fs-5"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                    <li>
                        <a
                            class="dropdown-item d-flex align-items-center gap-2 "
                            href="#" style="color: var(--main-color);">
                            <i class="bi bi-pencil-fill"></i>
                            Edit
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item d-flex align-items-center gap-2 text-danger"
                            href="#">
                            <i class="bi bi-trash-fill"></i>
                            Delete
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item d-flex align-items-center gap-2 text-warning"
                            href="#">
                            <i class="bi bi-flag-fill"></i>
                            Report
                        </a>
                    </li>
                </ul>
            </div>

            <!-- <div>
                <button class="btn " data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">edit</a></li>
                    <li><a class="dropdown-item" href="#">delet</a></li>
                    <li><a class="dropdown-item" href="#">report</a></li>
                </ul>
            </div> -->
        </div>
        <!-- <hr class="my-0"> -->
        <div class="card-body p-2">
            <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card’s content.
            </p>
            <img
                src="/1762882197859_WhatsApp Image 2025-10-15 at 19.54.57.jpeg"
                alt="content"
                class="img-fluid rounded w-100">
        </div>
        <!-- <hr> -->
        <div class="p-2">
            <div class="d-flex align-items-center gap-3">
                <div class="d-flex gap-2">
                    <i appHomeDirectives [like]="true" class="bi bi-heart "></i>
                    <span>30</span>
                </div>
                <button class=" btn d-flex gap-2" data-bs-toggle="modal"
                    data-bs-target="#comment">
                    <i class="bi bi-chat"></i>
                    <span>2</span>

                </button>
                <div class="modal" id="comment">
                    <div class="modal-dialog modal-body bg-body">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="commentModalLabel">Comments</h5>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="modal-body ">
                            @for (c of comments; track $index) {
                            <app-comment-component
                                [comment]="c"></app-comment-component>
                                <hr>
                            }
                        </div>
                        <div class="modal-footer">
                            <input type="text" class="form-control me-2 w-50"
                            placeholder="Write a comment...">
                            <button class="btn btn-primary">Send</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    }
</div>