 <header class="header-custom">
    @if (authService.user$ | async; as user) {
    <div class="container-fluid px-3">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Logo Section -->
            <div class="d-flex align-items-center gap-1">
                <div class="badge-number">
                    <span class="badge-text text-primary">01</span>
                </div>
                <div class="brand-name">Blog</div>
            </div>
            <!-- <app-post-create-component></app-post-create-component> -->
            <!-- Notification Section -->
            <div>
                <button type="button" class="btn btn-primary position-relative"
                    title="creat post" (click)="toggelShowCreatPostPop(true)">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
            <!-- Scrollable modal -->
            @if(showCreatPostPop()){
            <app-post-create-component
                (hide)="addNewPost($event)"></app-post-create-component>
            }
            <!-- User Actions Section -->
            <div class="d-flex align-items-center gap-5">
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn-notification"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        data-bs-auto-close="outside">
                        <i class="bi bi-bell" (click)="getNotification()"></i>
                        @if (newNotif()) {
                        <span class="notification-badge"></span>
                        }
                    </button>
                    <ul
                        class="dropdown-menu dropdown-menu-end notification-dropdown">
                        @for (n of notif(); track n.id) {
                        <li
                            class="notification-item"
                            [ngClass]="{ 'read': n.read, 'unread': !n.read }"
                            (click)="toggel(n.id)">
                            <p class="content">{{ n.content }}</p>

                            <div class="meta">
                                <small>{{ utils.timeAgo(n.creatAt) }}</small>
                            </div>
                        </li>
                        }@empty {
                        <div
                            style="display: flex;justify-content: space-around;height: 40px;align-items: center;">
                            <i class="bi bi-bell-slash fs-4"></i>
                        </div>
                        }
                    </ul>
                </div>

                @if (user.avatar) {
                <img [src]="url+user.avatar" alt="User Avatar"
                    class="btn-user" width="50" height="50"
                    [routerLink]="['/profile',user.username]">
                }@else {
                <button type="button"
                    class="btn  btn-user"
                    [routerLink]="['/profile',user.username]">{{user.username.at(0)?.toLocaleUpperCase()}}</button>
                }
                <button type="button" class="btn btn-danger btn-logout"
                    (click)="logout()">
                    <i class="bi bi-box-arrow-left"></i>
                </button>
            </div>
        </div>
    </div>
    }
</header>