
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content p-3" style="border-radius: 20px;">

        <!-- Header -->
        <div class="modal-header border-0">
            <h5 class="modal-title" id="editPostModalLabel">Edit Post </h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal"></button>
        </div>

        <!-- Body -->
        <div class="modal-body">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- DESCRIPTION -->
                <label class="form-label fw-bold">Description</label>
                <input
                    type="text"
                    class="form-control mb-4"
                    formControlName="userInput"
                    (change)="onDescChange()"
                    style="border-radius: 12px;" />

                <!-- BUTTONS delete / upload -->
                <div class="d-flex justify-content-between mb-3">
                    @if( currentMedia){
                    <button
                        type="button"
                        class="btn btn-outline-danger px-4"
                        (click)="deleteMedia()">
                        Delete
                    </button>
                    }

                    <label class="btn btn-outline-primary px-4 mb-0">
                        Upload
                        <input
                            type="file"
                            hidden
                            (change)="onFileSelected($event)" />
                    </label>
                </div>

                <!-- MEDIA PREVIEW -->
                @if (currentMedia){
                <div class="d-flex justify-content-center">
                    <div
                        class="border p-2"
                        style="border-radius: 18px; max-width: 320px;">
                        @if (isImage ){
                        <img [src]="currentMedia"
                            class="img-fluid rounded"
                            style="max-height: 300px; object-fit: cover;"
                            width="300" height="300" />
                        }@else if (isVideo) {
                        <video [src]="currentMedia"
                            controls
                            class="img-fluid rounded"
                            style="max-height: 300px; object-fit: cover;"></video>
                        }
                    </div>
                </div>
                }

                <!-- SUBMIT -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success px-5 py-2"
                        style="border-radius: 12px;">
                        Save
                    </button>
                </div>
                @if (showError) {
                <div style="color: red;">
                    {{ errorMsg }}
                </div>
                }
            </form>

        </div>
    </div>
</div>
