
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content p-3" style="border-radius: 20px;">

        <!-- Header -->
        <div class="modal-header border-0">
            <h5 class="modal-title" id="editPostModalLabel">Edit Post </h5>
            <button type="button" class="btn-close" (click)="close()"
                data-bs-dismiss="modal"></button>
        </div>

        <!-- Body -->
        <div class="modal-body">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- DESCRIPTION -->
                <label class="form-label fw-bold">Description</label>
                <input
                    type="text"
                    class="form-control mb-4"
                    formControlName="userInput"
                    (change)="onDescChange()"
                    style="border-radius: 12px;" />
                @if (form.get('userInput')?.touched &&
                form.get('userInput')?.invalid ) {
                <div class="text-danger small">
                    Description  must be between 2 and 500 characters
                </div>
                }

                <!-- BUTTONS delete / upload -->
                <div class="d-flex justify-content-between mb-3">
                    <label class="btn btn-outline-primary px-4 mb-0">
                        Upload
                        <input
                            type="file"
                            hidden
                            (change)="addMedia($event)" />
                    </label>
                </div>

                <div class="card-body p-0 d-flex flex-wrap">
                    @for (media of existingMedia(); track $index) {
                    <div class="position-relative rounded overflow-hidden "
                        style="max-width:140px;">
                        @if (media.mediaType === 'image') {
                        <!-- @if(media.mediaUrl.startsWith("http://localhost:4200/")){

                            }@else {} -->
                        <img
                            [src]="difindUrl(media.mediaUrl)+media.mediaUrl"
                            alt="Post Image" class="rounded border"
                            style="width:150px; height:150px; object-fit:cover;">
                        } @else if (media.mediaType === 'video') {
                        <video
                            [src]="difindUrl(media.mediaUrl)+media.mediaUrl"
                            controls
                            class="rounded border"
                            style="width:150px; height:150px; object-fit:cover;">
                        </video>
                        }
                        <button
                            class="btn btn-dark btn-sm position-absolute top-0 end-0 m-1"
                            (click)="deleteMedia(media.mediaUrl)"
                            type="button">✕</button>
                    </div>
                    }
                </div>
                <!-- SUBMIT -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success px-5 py-2"
                        style="border-radius: 12px;">
                        Save
                    </button>
                </div>
                @if (hasError()) {
                <div style="color: red;">
                    {{ messagError() }}
                </div>
                }
            </form>

        </div>
    </div>
</div>
