<div class="modal fade" [id]="'report'+postId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3" style="border-radius: 20px;">

            <div class="modal-header border-0 gap-3">
                <h5 class="modal-title"
                    id="reportPostModalLabel me-20">Report</h5>
                <i class="bi bi-flag-fill text-warning"></i>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <label class="form-label fw-bold">What is your
                        reason?</label>
                    <input
                        type="text"
                        class="form-control mb-4"
                        formControlName="userInput"
                        style="border-radius: 12px;" />
                    <div
                        class="text-center mt-4 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">cancel</button>

                        <button
                            type="submit"
                            class="btn btn-success px-5 py-2"
                            style="border-radius: 12px;">
                            Save
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>



