<!-- REPORT MODAL -->
<div
    class="modal fade show"
    style="display: block; background: rgba(0,0,0,0.5);" id="report">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3" style="border-radius: 20px;">

            <!-- Header -->
            <div class="modal-header border-0">
                <h5 class="modal-title">Report</h5>
            </div>

            <!-- Body -->
            <div class="modal-body">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <!-- DESCRIPTION -->
                    <label class="form-label fw-bold">What is your
                        reason?</label>

                    <input
                        type="text"
                        class="form-control mb-4"
                        formControlName="userInput"
                        style="border-radius: 12px;" />

                    <!-- SUBMIT -->
                    <div class="text-center mt-4">
                        <button
                            type="submit"
                            class="btn btn-success px-5 py-2"
                            style="border-radius: 12px;">
                            Save
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
