 <div class="card shadow-sm">
    <div class="card-header bg-white">
        <strong>Reports</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th class="text-center" style="width:60px">Type</th>
                    <th>Reported By</th>
                    <th>Target</th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                @for (r of reports(); track r.id) {
                <tr>
                    <td class="text-center">
                        @if (r.type === 'post') {
                        <i class="bi bi-file-post text-primary fs-4"
                            [routerLink]="['/poste',r.targetId]"></i>
                        } @else {
                        <i class="bi bi-person-fill text-primary fs-4"
                            [routerLink]="['/profile',r.target]"></i>
                        }
                    </td>
                    <td>
                        <div class="d-flex gap-3">
                            <small>{{r.reporter}}</small>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-3">
                            <small>{{r.target}}</small>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-3">
                            <small>{{r.status}}</small>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-between p-2">
                            <div class="d-flex gap-3">
                                <strong>{{r.reason}}</strong>
                                <small>{{utils.timeAgo(r.time)}}</small>
                            </div>

                            <div class="d-flex gap-3">
                                @if (r.status==='RESOLVED') {
                                <p
                                    class="text-success">solved</p>
                                }@else {
                                <i
                                    class="bi bi-ban m-2  "
                                    [title]="'bane '+r.type"
                                    (click)="changeSelectedPost(r,'hide')"></i>

                                <i class="bi bi-trash-fill text-danger m-2"
                                    data-bs-toggle="tooltip"
                                    [title]="'Delete '+r.type"
                                    (click)="changeSelectedPost(r,'delet')"></i>
                                <p class="btn btn-danger"
                                    (click)="changeSelectedPost(r,'reject')">reject</p>
                                }

                            </div>
                        </div>

                    </td>
                </tr>
                }
            </tbody>
        </table>
        @if (showHideConfirmation()) {
        <app-bane message="Do you want to bane this target"
            (react)="banTarget($event)"></app-bane>
        }
        @if (showDeletConfirmation()) {
        <app-confermation message="Do you want to delet this target"
            (react)="deleteTarget($event)"></app-confermation>
        }
    </div>
    @if (loadData() && !utils.NotEmpty(reports())) {
    <app-not-resorce message="No Report found"></app-not-resorce>
    }
</div>