.avatar-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.op {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
