<app-app-header></app-app-header>
<app-loading></app-loading>
<main class="flex-grow-1 mt-7"
    style="padding-top: 70px; padding-bottom: 70px; overflow: hidden;">

    @if(isHomePage()){
    @if (start()|| utils.NotEmpty(postes()?.data ?? [])) {
    <app-poste-component [postesData]="postes()!"
        [showReaction]="true"></app-poste-component>
    }@else {
    <app-not-resorce message="No Posts Yet" type="post"></app-not-resorce>
    }
    }@else {
    <router-outlet></router-outlet>
    }
</main>
<app-app-footer></app-app-footer>
